{%extends "home/navbar.html"%}
{%block body%}
<div class="container-fluid bg-primary mx-auto p-5 rounded-4" style="width: 50%;">
    <div id="intro">
        <h1 class="d-none d-md-block" style="font-size: 70px;">Contact Me</h1>
        <h2 class="d-md-none" style="font-size: 45px;">Contact Me</h2>
    </div>
    <div id="information">
        <section id="personal">
            <p class="d-none d-md-block"><strong> Phone number: </strong>(626) 549-9045</p>
            <p class="d-none d-md-block"><strong> Email Addresses: </strong>joloh18@yahoo.com</p>

            <p class="d-md-none"><strong> Phone: </strong>(626) 549-9045</p>
            <p class="d-md-none"><strong> My Email: </strong>joloh18@yahoo.com</p>
        </section>
    </div>

    <h1 class="d-none d-md-block" >Send me a message:</h1>
    <h1 class="d-md-none">Message Me:</h1>
    <div  id="contact_form" >

        <form class="" id="info_form">
            <div class="mb-3">
                <label for="fullname" class="form-label d-none d-md-block">Full Name:</label>
                <input type="text" class="form-control" id="fullname" placeholder="Full Name">
            </div>
            <div class="mb-3">
                <label for="email" class="form-label d-none d-md-block">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Email" >
            </div>
            <div class="mb-3">
                <label for="message" class="form-label d-none d-md-block">Message:</label>
                <textarea class="form-control" id="message" rows="3" placeholder="Message"></textarea>
            </div>
        </form>
    </div>
</div>



{%endblock%}
