{%extends "home/navbar.html"%}

{%block body%}
<div class="col-md-8 mx-auto text-center">
    <h1 class="font-sans text-9xl">John Paolo Hernandez</h1>
    <h2 class="text-sky-500 dark:text-sky-400">Future Software Engineer</h2>
    <a class="btn btn-primary" href="#" role="button">Download Resume</a>

    <div>
        <p>Currently a CalStateLA student who pursues a Bachelor of Science Degree in Computer Science.</p>
        <p>Interested in working for an organization as a Software Engineer/Developer.</p>
    </div>
</div>
{%endblock%}
