{%extends "home/navbar.html"%}
{%block body%}
<div class="container-fluid ">
    <div class="row">
        <div class="col border-end border-3">
            <h1>About me</h1>
            <p>description</p>
        </div>
        <div class="col">
            <h1>image here</h1>
        </div>
    </div>
    <div>
        <h1>Skills learned</h1>
        <ul class="row">
            {%for skill in skills%}
                <li class="col-12 col-md-3 col-sm-6">
                    <div>
                        <p>{{skill.name}}: {{skill.level}}</p>
                        <p>{{skill.description}}</p>
                    </div>
                </li>
            {%empty%}
                <li>No skills</li>
            {%endfor%}
        </ul>
    </div>
    <div>
        <h1>Education</h1>
        <ul class="row">
            {%for education in educations%}
            <li class="col-12 col-md-6">
                <p>{{education.schoolName}}</p>
                <p>{{education.startYear}} - {{education.endYear}}</p>
                <p>{{education.degree}}</p>
            </li>
            {%endfor%}
        </ul>
    </div>
</div>
{%endblock%}
